<nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
    <a class="navbar-brand" href="#">Project Church</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="fa fa-envelope"></i> Contato
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              Usuários<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" mdbWavesEffect href="#">Editar Usuários</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect href="#">Criar Usuário</a>
              </div>
              
            <li class="nav-item">
                <a [routerLink]="['/login']" class="nav-link">
                    <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
            </li>
          </ul>
    </div>
  </nav>