<div class="container">
  <div class="col-md-6 offset-md-3">
    <form name="form" [formGroup]="loginForm" >
      <p class="h5 text-center mb-4">Login</p>

      <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" formControlName="defaultFormUser" [(ngModel)]="model.username"  id="defaultForm-user" class="form-control" mdbInputDirective>
        <label for="defaultForm-user">Usuário</label>
      </div>

      <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" formControlName="defaultFormPass" [(ngModel)]="model.password" id="defaultForm-pass" class="form-control" mdbInputDirective>
        <label for="defaultForm-pass">Senha</label>
      </div>

      <div class="text-center">
        <input type="submit" (click)="login()" class="btn btn-default waves-light" mdbWavesEffect value="Login">
      </div>
    </form>
  </div>
</div>
