<div class="card card-body blue lighten-3">
    <div class="col-sm-6 offset-sm-4">
      <h1>MEMBROS</h1>
      <br>
    </div>
</div>
<br>
<div class="container">
        <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Membros</li>
                </ol>
              </nav>
  <div class="row">
    <h2>Lista de membros</h2>
    <hr>
    <br>
    <button type="button" class="btn btn-primary waves-light" data-toggle="modal" data-target="#basicExample" (click)="demoBasic.show()" mdbWavesEffect><i class="fa fa-plus" aria-hidden="true"></i> Adicionar Membro</button>
    <br>
      <table class="table table-hover">
          <thead class="mdb-color darken-3">
              <tr class="text-white">
                  <th>ID</th>
                  <th>Nome Completo</th>
                  <th>Telefone</th>
                  <th>E-mail</th>
                  <th>Ações</th>
              </tr>
          </thead>
          <!--Table head-->
      
          <!--Table body-->
          <tbody>
              <tr *ngFor="let membro of membros">
                  <th scope="row">{{ membro.id }}</th>
                  <td>{{ membro.nome  }}</td>
                  <td>{{ membro.telefone  }}</td>
                  <td>{{ membro.email  }}</td>
                  <td><button type="button" (click)="onSelect(membro)"  class="btn btn-default waves-light" mdbWavesEffect> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Detalhes</button>
                      <button type="button" (click)="delete(membro)" class="btn btn-danger waves-light" mdbWavesEffect><i class="fa fa-trash" aria-hidden="true"></i> Excluir</button>
                  </td>
              </tr>
          </tbody>
          <!--Table body-->
      </table>
      <!--Table-->
      <!--Modal add Member -->
      <div mdbModal #demoBasic="mdb-modal" class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title w-100" id="myModalLabel">Adicionar Membro</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="demoBasic.hide()">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="addForm">
                            <!-- <div class="md-form">
                                <i class="fa fa-key prefix"></i>
                                <input #membroid mdbInputDirective type="text" formControlName="membroid" class="form-control">
                                <label for="membroid">ID</label>
                            </div>  -->
                            <div class="md-form">
                                <i class="fa fa-user prefix"></i>
                                <input #membroNome mdbInputDirective type="text" formControlName="membroNome" class="form-control">
                                <label for="membroNome">Nome</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-phone prefix"></i>
                                <input #membroTelefone mdbInputDirective type="text"  formControlName="membroTelefone" class="form-control">
                                <label for="membroTelefone">Telefone</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-envelope-o prefix"></i>
                                <input #membroEndereco mdbInputDirective type="text" formControlName="membroEndereco" class="form-control">
                                <label for="membroEndereco">Endereço</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-at prefix"></i>
                                <input #membroEmail mdbInputDirective type="email"  formControlName="membroEmail" class="form-control">
                                <label for="membroEmail">Email</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-calendar prefix"></i>
                                <input #membroDataNascimento mdbInputDirective type="text" formControlName="membroDataNascimento" class="form-control">
                                <label for="membroDataNascimento">Data de Nascimento</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-calendar-plus-o prefix"></i>
                                <input #membroDataBatismo type="text" name="membroDataBatismo" class="form-control">
                                <label for="membroDataBatismo">Data de Batismo</label>
                            </div>
                        </form>    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm waves-light" data-dismiss="modal" (click)="demoBasic.hide()" mdbWavesEffect>Fechar</button>
                        <button class="btn btn-primary btn-sm waves-light" mdbWavesEffect (click)="add(membroNome.value, membroTelefone.value, membroEmail.value, membroEndereco.value, membroDataNascimento.value, membroDataBatismo.value); membroNome.value=''; membroTelefone.value=''; membroEmail.value=''; membroEndereco.value=''; membroDataNascimento.value=''; membroDataBatismo.value " >Incluir Membro</button>
                    </div>
                </div>
            </div>
        </div>
         <!--End Modal add Member -->
     <div class="container">
         
            <app-membros-detalhes [membros]="selectedMembros"></app-membros-detalhes>
         
     </div>
  </div>
</div>

