<app-header></app-header>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1 class="h1-responsive">Bem vindo Usuário!</h1>
            <p class="lead">Plataforma Web para gerenciamento de Igrejas Evangélicas</p>
            <a class="btn btn-info waves-light" role="button" mdbWavesEffect>Leia a Documentação</a>
            
        </div>
    </div>
    <div class="col-md-4">
      <div class="card blue lighten-3">
          <div class="card-body">
              <!--Title-->
              <h4 class="card-title"><i class="fa fa-user" aria-hidden="true"></i> Membros</h4>
              <!--Text-->
              <p class="card-text">Gerencimento de Membros Batizados Ativos na Igreja</p>
              <a routerLink="/membros" class="btn btn-deep-purple waves-light" mdbWavesEffect>Detalhes</a>
          </div>
        </div>  
      </div>

      <div class="col-md-4">
          <div class="card amber lighten-4">
              <div class="card-body">
                  <!--Title-->
                  <h4 class="card-title"><i class="fa fa-address-card-o" aria-hidden="true"></i> Escola Dominical</h4>
                  <!--Text-->
                  <p class="card-text">Gerenciamento de Alunos, Professores da Escola Bíblica Dominical</p>
                  <a href="#" class="btn btn-amber waves-light" mdbWavesEffect>Detalhes</a>
              </div>
            </div>  
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body green lighten-4">
                    <!--Title-->
                    <h4 class="card-title"><i class="fa fa-money" aria-hidden="true"></i> Financeiro</h4>
                    <!--Text-->
                    <p class="card-text">Gerenciamento do Financeiro. Receitas, Débitos, Origem Entradas e Saídas</p>
                    <a href="#" class="btn btn-light-green waves-light" mdbWavesEffect>Detalhes</a>
                </div>
            </div>  
        </div>

  </div>
</div>


